<div class="am-cf am-padding">
  <table class="am-table am-table-bd am-table-striped admin-content-table">
    <tr>
      <th>邮箱</th>
      <th><%= user.email %></th>
    </tr>
    <tr>
      <th>姓名</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>手机号码</th>
      <th><%= user.phone %></th>
    </tr>
    <tr>
      <th>住址</th>
      <th><%= user.address %></th>
    </tr>
    <tr>
      <th>一级部门</th>
      <th><%= user.department1 %></th>
    </tr>
    <tr>
      <th>二级部门</th>
      <th><%= user.department2 %></th>
    </tr>
    <tr>
      <th>岗位名称</th>
      <th><%= user.positionName %></th>
    </tr>
    <tr>
      <th>职位级别</th>
      <th><%= user.positionLevel %></th>
    </tr>
    <tr>
      <th>直属经理</th>
      <th><%= user.boss %></th>
    </tr>
    <tr>
      <th>入职日期</th>
      <th><%= user.inDate %></th>
    </tr>
    <tr>
      <th>紧急联系人姓名</th>
      <th><%= user.relativeName %></th>
    </tr>
    <tr>
      <th>紧急联系人手机</th>
      <th><%= user.relativePhone %></th>
    </tr>
    </tbody>
  </table>
</div>
